@model LaboratorioExame.Models.Exame

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Exame</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExameNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExameNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExameObservacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExameObservacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExameMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExameMaterial)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ExameId">Edit</a> |
    <a class="a" asp-action="Index">Voltar para a lista</a>
</div>
