@model IEnumerable<LaboratorioExame.Models.Cargo>

@{
    ViewData["Title"] = "Index";
}

<h1>Cargo</h1>

<p>
    <a class="btn-criar" asp-action="Create">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CargoNome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CargoNome)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CargoId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.CargoId">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.CargoId">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
