@model LaboratorioExame.Models.Resultado

@{
    ViewData["Title"] = "Details";
}

<h1>Detalhes</h1>

<div>
    <h4>Resultado</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paciente.PacienteNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Exame)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Exame.ExameNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ResultadoDescricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ResultadoDescricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataRealizacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataRealizacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Profissional)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Profissional.ProfissionaNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservacaoResultado)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservacaoResultado)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ResultadoId">Edit</a> |
    <a class="a" asp-action="Index">Voltar para a lista</a>
</div>
