@model LaboratorioExame.Models.Paciente

@{
    ViewData["Title"] = "Delete";
}

<h1>Deletar</h1>

<h3>Você tem certeza que quer deletar isso?</h3>
<div>
    <h4>Paciente</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacienteNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pacientesexo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pacientesexo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteCpf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacienteCpf)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteTelefone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacienteTelefone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteNomeMae)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacienteNomeMae)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteTipoSanguineo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacienteTipoSanguineo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteIdade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacienteIdade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteAlergia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacienteAlergia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteEndereco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacienteEndereco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade.CidadeNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacientePeso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacientePeso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteAltura)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacienteAltura)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PacienteObservacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PacienteObservacao)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PacienteId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a class="a" asp-action="Index">Voltar para a lista</a>
    </form>
</div>
